{% extends 'base.html.twig' %}

{% block title %}Sound index{% endblock %}

{% block stylesheets %}
    <style>
        .sound {
            cursor: pointer;
        }

        @media (min-width: 576px) {
            .card-columns {
                column-count: 2;
            }
        }

        @media (min-width: 768px) {
            .card-columns {
                column-count: 3;
            }
        }

        @media (min-width: 992px) {
            .card-columns {
                column-count: 4;
            }
        }

        /*@media (min-width: 1200px) {*/
            /*.card-columns {*/
                /*column-count: 5;*/
            /*}*/
        /*}*/

        .card-body {
            padding: 0.25rem;
            text-align: center;
        }

        .card-title {
            margin:0;
        }

    </style>

{% endblock %}

{% block body %}

    <h1>C'est tchiiii hein</h1>


    <div class="card-columns">
        {% for sound in sounds %}
            <div class="card sound" data-src="{{ asset('mp3/sounds/' ~ sound.soundName) }}">
                <img class="card-img-top" src="{{ asset('images/thumbnails/' ~ sound.thumbNailName) }}">

                <div class="card-body">
                    <h5 class="card-title">{{ sound.title }}</h5>
                </div>
            </div>

        {% else %}
            <h2>Pas encore de sons</h2>
        {% endfor %}
    </div>


    <a href="{{ path('sound_new') }}">Ajouter un nouveau</a>


{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('.sound').click(function () {
                let src = $(this).data('src');
                let audio = new Audio(src);
                audio.play();
            })
        })
    </script>
{% endblock %}